@import url('../css/variables.css');
@import url('../css/navbar.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@property --a{
  syntax: '<angle>';
  inherits: true;
  initial-value: 0deg;
}
@property --p {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}
@property --c1 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000;
}
@property --c2 {
  syntax: '<color>';
  inherits: true;
  initial-value: #000;
}

.imagem-menu{
    display: flex;
    justify-content: center;

    figure {
        width: clamp(200px, 50%, 300px);
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.teste{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .teste2 {
    position: relative;
    bottom: -100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  background-image: url("https://www.transparenttextures.com/patterns/food.png");
  background-color: var(--color-2);
  /*--s: 80px;
  --_g: #0000, var(--c1) 2deg calc(var(--a) - 2deg),#0000 var(--a);
  background: 
    conic-gradient(from calc(-45deg  - var(--a)/2) at top    var(--p) left  var(--p),var(--_g)),
    conic-gradient(from calc(-45deg  - var(--a)/2) at top    var(--p) left  var(--p),var(--_g)),
    conic-gradient(from calc( 45deg  - var(--a)/2) at top    var(--p) right var(--p),var(--_g)),
    conic-gradient(from calc( 45deg  - var(--a)/2) at top    var(--p) right var(--p),var(--_g)),
    conic-gradient(from calc(-135deg - var(--a)/2) at bottom var(--p) left  var(--p),var(--_g)),
    conic-gradient(from calc(-135deg - var(--a)/2) at bottom var(--p) left  var(--p),var(--_g)),
    conic-gradient(from calc( 135deg - var(--a)/2) at bottom var(--p) right var(--p),var(--_g)),
    conic-gradient(from calc( 135deg - var(--a)/2) at bottom var(--p) right var(--p),var(--_g))
    var(--c2);
  background-size: calc(2*var(--s)) calc(2*var(--s));
  animation: m 2s infinite alternate linear; */
}

@keyframes m {
  0%,15% {
    --a: 135deg;
    --p: 20%;
    --c1: #3B8183;
    --c2: #FAD089;
    background-position: 0 0,var(--s) var(--s);
  }
  45%,50% {
    --a: 90deg;
    --p: 25%;
    --c1: #3B8183;
    --c2: #FAD089;
    background-position: 0 0,var(--s) var(--s);
  }
  50.01%,55% {
    --a: 90deg;
    --p: 25%;
    --c2: #3B8183;
    --c1: #FAD089;
    background-position: var(--s) 0,0 var(--s);
  }
  85%,100% {
    --a: 135deg;
    --p: 20%;
    --c2: #3B8183;
    --c1: #FAD089;
    background-position: var(--s) 0,0 var(--s);
  }
} 

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.btn-mobile {
    font-size: 1.5rem;
}

.btn-default {
    background-color: var(--color-6);
    color: var(--color-10);
    text-decoration: none;

    &:hover {
        background-color: var(--color-5);
    }
}


#Menu {
  background-color: var(--color-10);
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  width: 90%;
  min-height: calc(65vh - 96px);
  padding: 32px 4%;
  padding-top: calc(0px, 5vw, 32px);
  border-radius: 8px;


    h1 {
        color: var(--color-1);
        text-align: center;
        font-size: clamp(3rem, 5vw, 4,3rem);
        text-transform: uppercase;
        line-height: 1.2;
        max-width: 100%;

        span {
            color: var(--color-6);
        }
    }

    p {
      color: var(--color-1);
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      max-width: 1000px;
    }
}

#svg {
  width: 100%;
}

.svg-geral {
  position: relative;
  bottom: -4px;
  width: 100%;
  height: 100px;

  path {
    fill: var(--color-6);
  }
  
}

#Sobre {
  background-color: var(--color-6);
  padding: 0px 4% ;
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 32px;
  min-height: calc(65vh - 96px);

  h2{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--color-9);
    font-weight: 700;
    position: relative;

    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--color-4);
      position: absolute;
      bottom: 0;
      border-radius: 30px;
    }
  }

  h3{
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--color-9);
    font-weight: 700;
    position: relative;

  }

  p{
    font-size: 1.25rem;
    color: var(--color-9);
    font-weight: 500;
    position: relative;

  }

  .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

}