:root {
    --color-1: #2A1000;
    --color-2: #3A1A00;
    --color-3: #5A3010;
    --color-3: #7A4010;
    --color-4: rgba(58,26,0,0.55);
    --color-5: #E07820;
    --color-6: #C43B00;
    --color-7: #C48040;
    --color-8: #D4A55A;
    --color-9: #F0D8A8;
    --color-10: #F5E4C0;
    --color-11: #FAEFD8;
    --color-12: #5C7A3E;
}